* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: cursive;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: #f7f7f7;
}


main {
    display: flex;
    flex-direction: column;
    gap: 5ps;
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 3px;
    background-color: black;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: white;
}

body{
    height: 1000px;
}

#menu{
    position:fixed;
    top:0;
    left:0; /*fixando no canto superior esquerdo*/
    width: 100%;
    height:50px;
    background-color: #333;
}

ul{
    list-style: none;
    display: flex;
    align-items:center;
    height:100%;
    margin: 0;
}

li{
    margin-right:10px;
}

a{
    color:#FFF;
}

